---
import { Picture } from '@astrojs/image/components';
import { callGetStaticPaths } from 'astro/dist/core/render/route-cache';

import { findImage } from '~/utils/images';
import { getPermalink } from '~/utils/permalinks';

const { post } = Astro.props;
// console.log(post, 'this is post ( singular) ');

const image = await findImage(post.image);
---

<!-- <article class="mb-6 transition m-auto flex flex-col items-center"> -->
<article class="mb-6 transition m-auto flex flex-col items-center md:max-w-sm">
	<div class="bg-green-200 m-auto flex flex-col justify-center items-center relative">
		<div class="m-auto bg-white">
			{
				image && (
					// the list of sized that shoudl be buil dor responsive images.
					// how it was~
					// <Picture class="rounded-md" src={image} widths={[375]} sizes="375px" alt={post.title} aspectRatio="1:1" />
					<Picture
						src={image}
						class="object-cover w-full lg:h-64 rounded shadow-lg bg-gray-400 dark:bg-slate-700"
						widths={[400, 900]}
						sizes="(max-width: 900px) 400px, 900px"
						alt={post.title}
						aspectRatio="16:9"
					/>
				)
			}
		</div>
		<h3
			class="text-2xl font-bold leading-snug sm:text-2xl font-headings p-2r absolute bottom-5 text-cyan-50 hover:text-3xl"
		>
			<a
				href={getPermalink(post.slug, 'post')}
				class="hover:text-primary-600 underline underline-offset-4 decoration-1 decoration-dotted transition ease-in duration-200"
			>
				{post.slug}
				<!-- {post.title} -->
			</a>
		</h3>
	</div>
</article>
