---
import { Icon } from 'astro-icon';

const items = [
	[
		{
			title: 'Socialinio darbo paslaugos',
			description:
				'Socialinis darbas - jūsų artimųjų gerovės raktas: Mes suprantame, kad jūsų senjorių tėvai ar artimieji yra jums svarbūs ir jūs norite, kad jie turėtų geriausią priežiūrą. Socialinis darbas yra raktas gerovei ir laimės jų gyvenime. Mūsų profesionalai gali pasirūpinti jų kasdieniniais reikalavimais, užtikrinti, kad jie susijungtų su bendruomene ir turėtų palaikymą, kad jie galėtų gyventi patenkinti ir laimingai.',
			icon: 'tabler:brand-tailwind',
			link: '',
		},
		{
			title: 'Sveikatos priežiūros paslaugos',
			description:
				'Jūsų sveikata yra mūsų prioritetas: Mes suprantame, kad jūsų sveikata yra jūsų svarbiausia turtas. Mes esame čia, kad padėtume jums rūpintis savo kūno ir protų sveikata. Mūsų sveikatos priežiūros specialistai gali padėti jums išlaikyti sveiką gyvenimo būdą, teikti rekomendacijas dėl mitybos, fizinės veiklos ir sveikatos priežiūros procedūrų',
			icon: 'tabler:components',
		},
		{
			title: 'Maitinimas',
			description:
				'Speciali priežiūra: Mes pasiruošę teikti specialią maitinimo priežiūrą, kad užtikrintume jūsų patogumą ir komfortą. Mūsų darbuotojai pasiruošę padėti jums su maisto pasirinkimu, patiekalų pasiruošimu ir papildomomis reikmėmis, kad jūs galėtumėte jaustis patogiai ir saugiai. Maitinimo paslaugos - daugiau nei tik maistas: Mes suprantame, kad maitinimo paslaugos yra daugiau nei tik maisto produktai. Tai taip pat yra socialinis renginys, kuriame susitinkate su kitais žmonėmis, bendraujate ir praleidžiate laiką. Mes pasiruošę sukurti jaukią ir draugišką aplinką, kad jūs galėtumėte jaustis kaip namuose',
			icon: 'tabler:list-check',
		},

		{
			title: 'Apgyvendinimas',
			description:
				'Sveika ir saugi aplinka: Mes stengiamės sukurti sveiką ir saugią aplinką, kuri padeda palaikyti jūsų gerovę ir sveikatą. Mes reguliariai atliekame kambarių tvarkymą, užtikriname, kad būtų laikomasi higienos reikalavimų ir saugumo taisyklių.',
			icon: 'tabler:rocket',
		},
		{
			title: 'Priėmimo tvarka',
			description:
				'Sąžiningas ir skaidrus procesas: Mes stengiamės užtikrinti, kad mūsų klientams teikiamos paslaugos būtų sąžiningos ir skaidrios. Mes atsakingai tvarkome visus dokumentus ir sutartis, kad klientai galėtų tikėtis skaidrumo ir sąžiningumo. ',
			icon: 'tabler:arrows-right-left',
		},
		{
			title: 'Terapinės rekreacijos paslaugos',
			description:
				'Mes pritaikome veiklas prie kiekvieno kliento unikalių poreikių ir gebėjimų, siekdami užtikrinti jų fizinę ir psichologinę gerovę. Mūsų veiklos gali būti pritaikytos įvairioms lėtinių ligų, tokias kaip insultas, Alzheimerio liga, Parkinsono liga, ar fizinės negalios, būsenoms.',
			icon: 'tabler:bulb',
		},
	],
];
---

<!-- <section class="scroll-mt-16" id="features"> 
	<div class="mx-auto">
		<h2 class="text-2xl md:text-5xl font-bold mb-4 font-heading mx-auto">
			<span class="flex justify-center items-center">Kurkarskėje teikiamos paslaugos</span>
		</h2>
		<div class="flex gap-5 flex-col mx-auto py-7">
			{
				items.map((subitems) => (
					<div class="space-y-8 sm:px-8">
						{subitems.map(({ title, description, icon }) => (
							<div class="flex flex-row max-w-md bg-blue-400 ">
								<div>
									<div class="mb-4 mr-4 bg-green-500">
										<div class="flex items-center justify-center w-12 h-12 rounded-full bg-primary-500 dark:bg-primary-700">
											{icon && <Icon name={icon} class="w-6 h-6 text-white icon-light" />}
										</div>
									</div>
									<div class="bg-yellow-300">
										<h3 class="mb-3 text-xl font-bold">{title} </h3>
										<p class="text-gray-600 dark:text-slate-400">{description}</p>
									</div>
								</div>

								<div class="">
									<button class="bg-black mx-auto px-5 text-white text-xl">plačiau</button>
								</div>
							</div>
						))}
					</div>
				))
			}
		</div>
	</div>
</section> --><!-- <section class="scroll-mt-16" id="features"> --><!-- <section class="mx-auto max-w-6xl md:flex md:flex-row md:justify-between md:items-center"> --><!-- <section class="mx-5 max-w-6xl md:flex md:flex-row md:justify-between md:items-center"> -->
<section class="flex flex-col gap-5 shadow-xl">
	<h2 class="text-2xl md:text-5xl font-bold mb-4 font-heading mx-auto">
		<!-- <span class="flex justify-center items-center text-black">Kurkarskėje teikiamos paslaugos</span> was original -->
		<span class="mx-auto items-center text-black">Kurkarskėje teikiamos paslaugos</span>
	</h2>

	<!-- <div class="flex gap-5 flex-col mx-auto py-7"> -->
	<div class="mx-auto flex flex-col gap-3 px-4 py-4">
		{
			items.map((subitems) => (
				// <div class="px-4 py-16 mx-auto max-w-6xl md:flex md:flex-row md:justify-between md:items-center relative">
				<div class=" shadow-md p-6 text-center flex flex-col gap-5 md:flex-row md:flex-wrap mx-auto md:justify-center rounded-xl">
					{subitems.map(({ title, description }) => (
						// <div class="max-w-md flex flex-col gap-3 p-4 shadow-xl"> original version 1
						<div class="max-w-xs flex flex-col gap-3 p-4 shadow-xl rounded-xl">
							<h3 class="mb-3 text-xl font-bold text-black">{title} </h3>
							<p class="text-black ">{description}</p>
							<a href="#" class="bg-green hover:text-xl text-white font-bold py-4 px-4 rounded-xl">
								Peržiūrėti paslaugą
							</a>
						</div>
					))}
				</div>
			))
		}
		<!-- <div class="bg-green-400 rounded-lg shadow-md p-6 text-center">
			<h2 class="text-lg font-bold mb-4">Paslaugos pavadinimas</h2>
			<a href="#" class="bg-blue-800 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded"> Peržiūrėti paslaugą</a>
		</div> -->
	</div>
	<!-- https://codepen.io/wikyware-net/pen/dyKPRxQ -->
</section>
